<!DOCTYPE html>

<body>

  <center><h1>授業資料自動取得ツール(ゼミ選考用)</h1>
    <form action ="/send" method = "POST">
    <div>
      <br>
      <label for="user_id">Luna ID</label>
      <br><input type="text" id="user_id" name="user_id"><br>
    </div>
    <div>
      <br>
      <label for="password">Lunaパスワード</label>
      <br><input type="password" id="password" name="password"><br>
    </div>
    <div>
      <br>
      <label for="subject">取得したい科目</label>
      <br><input type="text" id="subject" name="subject"><br>
    </div> 
    <br><input type="submit" value="取得する"><br>
  </form>
</center>
</body>

<style>

input{font-size:1.8em;}

</style>